/* regole generali di pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* stile dell'header */
.intro{
    width: 100%;
    height: 150px;
    background-image: linear-gradient(to bottom left, #3a3a56, #1a3f9b);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.intro h1{
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
}

div {
    padding-top: 150px;
    width: 100%;
    background-image: linear-gradient(to bottom right,#6073a5, #fff);
}

ul{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    list-style-type: none;
}

ul li{
    font-size: 30px;
    font-weight: bold;
    margin: 20px auto;
}

.normal {
    color: yellow;
}

.fizz{
    color: #99391e;
}

.buzz{
    color: #000;
}

.fizzbuzz{
    color: #789108;
}